<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @meeting.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @meeting.content %>
</p>

<p>
  <strong>When:</strong>
  <%= @meeting.when %>
</p>

<p>
  <strong>User:</strong>
  <%= @meeting.user_id %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
