<%= form_with(model: transition, local: true) do |form| %>
  <% if transition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transition.errors.count, "error") %> prohibited this transition from being saved:</h2>

      <ul>
      <% transition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :transition_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
