<% provide(:title, @user.name) %>
<div class="row">
  <div class="contain">
  <aside class="col-md-4">
    <section class="user_info">
      
        <%= gravatar_for @user %></br>
      
      
        <h1>
        <span>Welcome, </span>
        <%= @user.name %></br>
        <%= @user.email %>
      </h1>
    
      
    </section>
  </aside>
  <div class="col-sm-8">
    <div class="col-md-12 index">
    <h2>Sales</h2>
    <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
  
    <tbody>
      <% @sales.each do |sale| %>
        <tr>
          <td><%= sale.title %></td>
          <td><%= sale.status %></td>
          <td><%= link_to 'Show', sale %></td>
          <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
          <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
    <%= link_to 'Create New Sale', new_sale_path %>
  </div>
  <div class="col-sm-12 index">
    <h2>Meetings</h2>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Title</th>
          <th>When</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
    
      <tbody>
        <% @meetings.each do |meeting| %>
          <tr>
            <td><%= meeting.title %></td>
            <td><%= meeting.when %></td>
            <td><%= link_to 'Show', meeting %></td>
            <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
            <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Create New Meeting', new_meeting_path %> 

  </div>
  
  

  <div class="col-sm-12 index">
    <h2>Uploads</h2>
    <table class = "table">
       <thead>.
          <tr>
             <th>Name</th>
             <th>Download Link</th>
             <th> </th>
          </tr>
       </thead>
       
       <tbody>
          <% @upload.each do |upload| %>
             
             <tr>
                <td><%= upload.name %></td>
                <td><%= link_to "Download Attachement", upload.attachment_url %></td>
                <td><%= button_to "Delete",  upload, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{upload.name}?" %></td>
             </tr>
             
          <% end %>
       </tbody>
   </table>
</div>
</div>
</div>
</div>